body{
    padding-bottom: 60px;
    color: #333333;
    font-family: Arial,"微软雅黑","Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3","Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,"华文细黑",SimSun,"宋体",Heiti,"黑体",sans-serif;
    background-image: url("../../img/webchat_bg.jpg");
    background-size: cover;
}

.chat-container {
    max-width: 1000px;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.chat-panel {
    height: 840px;
    background-color: #444444;
    color: #FFFFFF;
}

.chat * {
    background-color: #eeeeee;
    color: #333333;
}

.chat-panel * {
    background-color: #444444;
    color: #FFFFFF;
}

.panel-header {
    margin: 20px 0;
}

.search-bar {
    margin: 20px 0;
}

.search-bar * {
    background-color: #26292E;
    border: 0;
    outline: none;
}

.search-bar input {
    width: 205px;
    height: 32px;
    line-height: 32px;
}

.search-bar input:focus {
    border: none;
    box-shadow: none;
}

.tab-content {
    overflow: auto;
}

.tab-content li {
    border: none;!important;
}

.list-group-item span {
    background-color: inherit;
}

.list-group-item .badge, .my-badge {
    background-color: red;
}

.online {
    color: lime;
    margin-right: 5px;
}

.offline {
    color: darkgray;
    margin-right: 5px;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #333333;
}
.chat {
    height: 840px;
    margin: 0;
    padding: 0;!important;
}

.chat-box {
    padding: 0 20px;
}

.box-hd {
    text-align: center;
    height: 50px;
}

.box-hd-wrapper {
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding-top: 10px;
}

.box-bd {
    height: 600px;
    border-top: 1px solid #cccccc;
    overflow: auto;  /*内容多了，自动加滚动条*/
}

.box-bd-notify p {
    text-align: center;
    margin-top: 130px;
    color: #ccc;!important;
    font-size: 13px;
}

.box-toolbar {
    height: 35px;
    padding: 5px 0;
}

.box-toolbar span {
    margin-right: 20px;
}

.box-ft {
    height: 190px;
    border-top: 1px solid #cccccc;
}

.content {
    margin: 0 10px;
}

.box-ft textarea {
    width: 100%;
    height: 100px;
    color: #333333;
    background-color: #eeeeee;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}

.hd-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.msg-me {
    text-align: right;
    float: right;
    margin: 5px 0;
}

.msg-you {
    text-align: left;
    float: left;
    margin: 5px 0;
}

.msg-me .hd-img {
    margin-top: 12px;
    float: right;
}

.msg-you .hd-img {
    margin-top: 12px;
    float: left;
}

.msg-wrapper {
    overflow: hidden;
}
.msg-me .msg-wrapper {
    float: right;
    max-width: inherit;
}

.msg-you .msg-wrapper {
    float: left;
    max-width: inherit;
}

.msg-item {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}

.msg-me .msg-text {
    background-color: #b2e281;!important;
    display:block;
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 3px;
}

.msg-you .msg-text {
    background-color: #FFFFFF;!important;
    display:block;
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 3px;
}

.msg-me .msg-text:before {
    position: absolute;
    top: 27px;
    right: -12px;
    height: 0;
    width: 0;
    content: "";
    border: 6px solid transparent;
    border-left-color: #b2e281;
}

.msg-you .msg-text:before {
    position: absolute;
    top: 27px;
    left: -12px;
    height: 0;
    width: 0;
    content: "";
    border: 6px solid transparent;
    border-right-color: #FFFFFF;
}

.my-active {
    z-index: 2;
    color: #fff;
    background-color: #26292E;
    border-color: #26292E;
}

.margin-left-five {
    margin-left: 5px;
}

.upload-file {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
}