{% extends 'common/master/login_signup_master.html' %}
{% load error_msg %}
{% block title %}
    注册
{% endblock %}

{% block login_signup_form %}
    <form class="form-signin" id="input-form" action="" method="post">
    {% csrf_token %}
        <h2 class="form-signin-heading">欢迎注册</h2>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            <label for="{{ signup_form_obj.username.auto_id }}" class="sr-only"></label>
            {{ signup_form_obj.username }}
        </div>
        {% for error in signup_form_obj.username.errors %}
            <div class="my-alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            <label for="{{ signup_form_obj.password.auto_id }}" class="sr-only"></label>
            {{ signup_form_obj.password }}
        </div>
        {% for error in signup_form_obj.password.errors %}
            <div class="my-alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-repeat fa-fw" aria-hidden="true"></i></span>
            <label for="{{ signup_form_obj.repeat_password.auto_id }}" class="sr-only"></label>
            {{ signup_form_obj.repeat_password }}
        </div>
        {% for error in signup_form_obj.repeat_password.errors %}
            <div class="my-alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block my-button" type="submit">注册</button>
        <span class="error_msg">{{ status }}</span>
        <div class="checkbox clearfix">
            <a href="/login/" class="a pull-left">已有账号？>></a>
        </div>
    </form>

{% endblock %}