{% extends "bbs/master/base.html" %}
{% load custom %}

{% block extend-css %}
    <link href="/static/styles/custom.css" rel="stylesheet">
{% endblock %}

{% block nav-top-area %}
    <div class="nav-top-area">
        <ul class="nav nav-tabs pull-left">
            <li role="presentation" class="active"><a href="#">最热</a></li>
            <li role="presentation"><a href="#">最新</a></li>
        </ul>
        <a href="{% url 'bbs:new_article' %}" class="btn btn-success pull-right" role="button"><span
                class="fa fa-plus fa-fw"></span>发布</a>
    </div>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>
            This is an example to show the potential of an offcanvas layout pattern in Bootstrap.
            Try some responsive-range viewport sizes to see it in action.
        </p>
    </div>
{% endblock %}

{% block page-container %}
    {% for article in article_list reversed %}
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a class="thumbnail" href="{% url 'bbs:article_detail' article.id %}">
                    <img src="/static/{{ article.head_img|truncate_url }}">
                </a>
            </div><!--缩略图-->
            <div class="article-brief col-md-8">
                <a class="article-title" href="{% url 'bbs:article_detail' article.id %}">{{ article.title }}</a>
                <div class="article-brief-info">
                <span class="margin-left-twenty">
                    {{ article.author.name }}
                </span>
                    <span class="margin-left-twenty">{{ post.publish | pretty_date }}</span>
                    <span class="fa fa-thumbs-o-up margin-left-twenty" aria-hidden="true"></span>
                    {{ article.get_thumbs_up_num }}
                    <span class="fa fa-comment-o margin-left-twenty" aria-hidden="true"></span>
                    {{ article.get_comments_num }}
                </div>
                <div class="article-brief-text">
                    <p>{{ article.brief }}</p>
                </div>
            </div><!--文章简略-->
        </div>
        <hr>
    {% endfor %}
{% endblock %}

{% block page-right %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">拉呱专区</h3>
            </div>
            <div class="panel-body">
                <p>世界上没有什么烦恼是去一趟泰国解决不了的，如果有那就再去一趟。</p>
                <p class="text-right">-&nbsp;Alex</p>
            </div>
        </div>
    </div><!--/.sidebar-offcanvas-->
{% endblock %}