{% extends "forum/base.html" %}
{% load post_tags %}

{% block extend-css %}
    <link href="/static/styles/custom.css" rel="stylesheet">
{% endblock %}

{% block page-container %}
    <div class="wrap-left">
        <h1 thumb-num="{{ post.total_likes }}" id="article-title">
            {{ post.title }}
        </h1>
        <div class="article-author">
            <span>作者:{{ post.author.name }}</span>
            <span>{{ post.publish | pretty_date }}</span>
            <span>
                <span class="fa fa-comment-o" aria-hidden="true"></span>
                {{ post.comments.count }}
            </span>
        </div>
        <div class="article-content">
            <img class="img-responsive center-block" src="{{ post.post_image.url }}">
            <div>
                {{ post.body|safe }}
            </div>
        </div>
        <div class="article-menu">
            <div class="row">
                {#                <a class="btn btn-exceptional" type="button">打赏</a>#}
                <a class="post-like btn btn-thumb pull-right {% if request.user in post.users_like.all %}
                active{% endif %}" type="button"
                   data-id="{{ post.id }}" data-action="{% if request.user in post.users_like.all %}
                un{% endif %}like">
                    <span class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
                    <span class="likes-count">{{ post.total_likes }}</span>
                </a>
            </div>
        </div>
        <div class="tag-box"></div>
        <div class="comment-wrapper">
            <div class="comment-form-box-wrapper">
                <span class="">发表评论</span>
                <div class="comment-form-box">
                    {% if request.user.is_authenticated %}
                        <textarea class="form-control" rows="3" name="body"></textarea>
                        <button class="btn btn-article">发表</button>
                    {% else %}
                        <div class="jumbotron">
                            {#                          <h4 class="text-center"><a class="btn-link" href="{% url 'login' %}?next={{ request.path }}">登陆</a>后评论</h4>#}
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="comment-box-wrapper">
                <span class="">默认评论|最新评论</span>
                <div class="comment-box">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extend-js %}
    <script src="/static/scripts/bbs/add_comment_bar.js"></script>
    <script>
        // 添加评论
        let ff = () => {
            console.log('ff.......');
            $("#comment-form button").each(function () {  // 给发表评论的按钮绑定事件
                console.log('ffff........');
                console.log($(this));
                $(this).click(function (e) {
                    console.log('fdsafdsadfdsaf');
                    e.preventDefault();

                    action_guard();
                    let comment_body = $("#comment-form textarea").val().trim();  //获得评论内容
                    let parent_comment = $("#comment-form input[name=parent_comment]").val().trim();
                    console.log(parent_comment);
                    if (comment_body.length < 5) {
                        alert("客官，五字起评，不议价。");
                    } else {
                        //post
                        console.log(getCsrf());
                        $.post("{% url 'forum:comment_create' %}",
                            {
                                'parent_comment': parent_comment,
                                'post': "{{ post.id }}",
                                'body': comment_body,
                                'csrfmiddlewaretoken': getCsrf()
                            },  // end post args
                            (callback) => {
                                if (callback == 'OK') {
                                    {#console.log("post comment success!");#}

                                    {#alert('评论成功！');#}
                                    {#$(".comment-form-box textarea").val('');  //获得评论内容#}
                                    getComments();
                                }
                            }
                        );  // end post
                    }
                });
            });
        };  //end submit comment button c

        function add_comment_bar() {
            console.log("go into add_comment_bar function...");
            // var thumb_num = $("#article-title").attr("thumb-num");
            // var comment_bar = "<small class='comment-bar pull-right'>" +
            //     "<a style='cursor: pointer' class='margin-left-twenty' comment-type='2'><i class='fa fa-thumbs-o-up fa-fw'></i>" +
            //     thumb_num + "</a>" +
            //     "<a style='cursor: pointer' class='margin-left-twenty' comment-type='1'>回复</a>" +
            //     "</small>";
            // $(".media-heading").each(function () {
            //     $(this).append(comment_bar);
            // });  //end add comment_bar
            $(".comment-bar a").each(function () {
                $(this).click(function () {
                    action_guard();
                    if ($(this).attr('comment-type') == '2') {  //点赞

                        // user likes
                        $.post('/comment/like/',
                            {
                                'id': $(this).data('id'),
                                'action': $(this).data('action'),
                                'csrfmiddlewaretoken': getCsrf(),
                            },
                            (data) => {
                                if (data['status'] == 'ok') {
                                    var previous_action = $(this).data('action');

                                    // toggle data-action
                                    console.log(previous_action);
                                    $(this).data('action', previous_action == 'like' ? 'unlike' : 'like');
                                    // toggle link text
                                    // $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                                    // update total likes
                                    var previous_likes = parseInt($(this).text());
                                    console.log(previous_likes);
                                    style_attr = previous_action == 'like' ? 'style="color: red"' : '';
                                    $(this).html(`<i ${style_attr} class='fa fa-thumbs-o-up fa-fw'></i>    ` + (previous_action == 'like' ? previous_likes + 1 : previous_likes - 1));
                                }
                            }
                        );

                    } else {  //评论
                        if ($("#comment-form").length > 0) {
                            $("#comment-form").remove();
                        }
                        let parent_comment_id = $(this).data('id');
                        console.log($(this));
                        console.log($(this).data('id'));
                        var input_html = `<div id='comment-form' style="margin-bottom: 10px">

                    <input type="hidden" name="parent_comment" value=${parent_comment_id}>
                    <input type="hidden" name="post" value={{ post.id }}>
                    <input type="hidden" name="csrfmiddlewaretoken" value=${getCsrf()}>
                    <textarea class="form-control" name="body" rows="3"></textarea>
                    <a class="btn btn-default"><i class="fa fa-angle-double-up fa-fw" aria-hidden="true"></i>收起</a>
                    <button class="btn btn-default pull-right">评论</button>
                    </div>`;
                        $(this).parent().parent().siblings('p').after(input_html);
                        $(".fa-angle-double-up").parent().click(function () {  //给收起按钮绑定事件
                            $(this).parent().remove();
                        })
                        ff();
                    }

                });  //end click function
            });  //end bind click to ".comment-bar a"
        }

        function getComments() {
            $.get(
                "{% url 'forum:comment_list' post.id %}",
                //"/bbs/get_comments/1/",
                function (callback) {
                    $(".comment-box").html(callback);
                    add_comment_bar();
                }
            ); //end get
        }  //end function getComments

        function getCsrf() {
            return $("input[name='csrfmiddlewaretoken']").val();
        }

        function is_authenticated() {
            console.log('fdsa')
            return $("input[name='authenticated']").val() == "True";
        }

        function action_guard() {
            if (!is_authenticated()) {
                alert('请先登录');
                window.location.href = `/login/?next=${window.location.pathname}`;
                return;
            }
        }

        $(document).ready(function () {
            $(".comment-form-box button").click(function (e) {  // 给发表评论的按钮绑定事件
                e.preventDefault();
                action_guard();
                var comment_body = $(".comment-form-box textarea").val().trim();  //获得评论内容
                if (comment_body.length < 5) {
                    alert("客官，五字起评，不议价。");
                } else {
                    //post
                    console.log(getCsrf());
                    $.post("{% url 'forum:comment_create' %}",
                        {
                            'post': "{{ post.id }}",
                            'body': comment_body,
                            'csrfmiddlewaretoken': getCsrf()
                        },  // end post args
                        (callback) => {
                            if (callback == 'OK') {
                                console.log("post comment success!");

                                alert('评论成功！');
                                $(".comment-form-box textarea").val('');  //获得评论内容
                                getComments();
                            }
                        }
                    );  // end post
                }
            });  //end submit comment button click


            $(".post-like").click(function (e) {
                console.log(e);
                e.preventDefault();
                action_guard();
                $.post('{% url "forum:post_like" %}',
                    {
                        'id': $(this).data('id'),
                        'action': $(this).data('action'),
                        'csrfmiddlewaretoken': getCsrf(),
                    }, function (data) {
                        console.log(data);
                        if (data['status'] === 'ok') {
                            var prev_action = $(".post-like").data('action');
                            console.log('re', prev_action);
                            $(".post-like").data('action', prev_action == 'like' ? 'unlike' : 'like');
                            var prev_likes = parseInt($(".likes-count").text());

                            $(".likes-count").text(prev_action === "like" ? prev_likes + 1 : prev_likes - 1);

                            if (prev_action == 'like') {
                                $(".post-like").addClass('active');
                            } else {
                                $(".post-like").removeClass('active');
                            }
                        }
                    })

            });  //end thumb button click#}
            getComments();
        })
        ; // end document ready
    </script>
{% endblock %}